name: Deploy Nightly

on:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC
  workflow_dispatch:

jobs:
  build-job:
    name: Build ROM
    uses: ./.github/workflows/build_ci_workflow.yml
    with:
      upload-build-artifact: true

  nightly:
    name: Deploy nightly
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    needs: build-job
    steps:
      - name: Download the build output
        uses: actions/download-artifact@v5
        with:
          name: build-out
          path: build

      - name: Package Release
        run: zip release.zip build/balatro-gba.gba

      - name: Deploy release
        uses: WebFreak001/deploy-nightly@v3.2.0
        with:
          upload_url: https://uploads.github.com/repos/ricfehr3/balatro-gba/releases/257345890/assets{?name,label} 
          release_id: 257345890 
          asset_path: ./release.zip # path to archive to upload
          asset_name: nightly-gbalatro-$$-test.zip # name to upload the release as, use $$ to insert date (YYYYMMDD) and 6 letter commit hash
          asset_content_type: application/zip
          max_releases: 7 
          ignore_hash: false # Only upload unique versions
