name: Run tests in CI

on:
  workflow_dispatch:
  workflow_call:

jobs:
  run_tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run Tests
        run: cd tests && ./run_tests.sh

 
